*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.aux
*.xml
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf
*.bcf
*.bst
*.layout
!thesis.pdf
!cover.pdf
!presentation/An AI Framework for Linear B Translation into Ancient Greek and English.pdf